body {
    background: black;
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
    
}

.hero-image {
    background-image: url(photo-1555066931-4365d14bab8c.avif);
    background-position: center;
    background-size: cover;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;

}


.hero-text {
    color: white;
    text-align: center;
    align-items: center;
}

.hero-text h1 {
    font-size: 50px;
    font-weight: 500;
}

.hero-text p {
    font-size: 30px;
    font-weight: 500;
    line-height: 10px;
    
}

.hero h1 {
    align-items: center;
    color: white;
}

.action_button {
    text-decoration: none;
    display: inline-block;
    
}

.container {
    width: 80%;
    margin: 0 auto;
}

.container2 p {
    display: flex;
    align-items: baseline;
    
}




nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

nav li {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block;
    margin-left: 70px;
    padding-top: 20px;

}

nav a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 10px;
}


.action-button hover {
    color: blue;
}


p {
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    justify-content: right;
}

.title{
    color: white;
}
.intro{
display: flex;

width: 80%;
margin: 20px auto;
}

.intro-txt{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.intro-txt h2{
    line-height: 40px;
    color: white;
}
.intro-txt p{
    line-height: 25px;
    text-align: justify;
}

.intro-img{
    width: 300px;
    margin-left: 10%;
}


.prework-study-guide img{
    width: 800px;
}

.prework-study-guide {
    color: whitesmoke;
    width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}


.second-my-work img{
    width: 815px;
}

.second-my-work {
    color: whitesmoke;
    width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}


.social-media{
    margin-top: 5%;
    margin-bottom: 5%;
}
.social-media-contact ul{
    display: flex;
    justify-content: space-evenly;

    
}

.social-media-contact ul a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}