/*Ive organized my css file from top to bottom*/

body {
    background: black;
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
    
}
/*The main image on top of my website*/

.hero-image {
    background-image: url('./assets /images/photo-1555066931-4365d14bab8c.avif');
    background-position: center;
    background-size: cover;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;

}


.hero-text {
    color: white;
    text-align: center;
    align-items: center;

}

.hero-text h1 {
    font-size: 50px;
    font-weight: 500;
}

.hero-text p {
    font-size: 30px;
    font-weight: 500;
    line-height: 10px;
    
}

.hero h1 {
    align-items: center;
    color: white;
}

.action_button {
    text-decoration: none;
    display: inline-block;
    
}

.container {
    width: 80%;
    margin: 0 auto;
}

.container2 p {
    display: flex;
    align-items: baseline;
    
}

/*My navigation link are here*/

nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

nav li {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block;
    margin-left: 70px;
    padding-top: 20px;

}

nav a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 10px;
}

.navbar a:hover {
    background-color: blue;
}

.action-button {
    text-decoration: none;
    display: inline-block;
}


.action-button:hover {
    color: blue;
}


p {
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    justify-content: right;
}

.title{
    color: white;
}
.about-me{
display: flex;

width: 80%;
margin: 20px auto;
}

.about-txt{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.about-txt h2{
    line-height: 40px;
    color: white;
}
.about-txt p{
    line-height: 25px;
    text-align: justify;
}

.about-img{
    width: 300px;
    margin-left: 10%;
}

/*please click on the image to see the magic*/
#portfolio img{
    width: 800px;
}

#portfolio {
    color: whitesmoke;
    width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

/*I increased the width by 15px to match the size of the first image*/
/*Please click on the image to see the magic*/
.portfolio2 img{
    width: 815px;
}

.portfolio2 {
    color: whitesmoke;
    width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.portfolio3 {
    color: whitesmoke;
    width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.portfolio3 img{
    width: 815px;
}



/*My contacts are fully functional*/
#contact{
    margin-top: 5%;
    margin-bottom: 5%;
}
#contact ul{
    display: flex;
    justify-content: space-evenly;

    
}

#contact ul a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}